.alertContainer{
    align-items: center;
    color: black;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 400px;

}
